
<!DOCTYPE html>
        <html>
                <head>
                        <title>&lbrace;&lbrace; page.title &rbrace;&rbrace;</title>
                        <!-- link to main stylesheet -->
                        <link rel="stylesheet" type="text/css" href="/css/main.css">
                </head>
                <body>
                        <div class="container">
                        
                        &lbrace;&lbrace; content &rbrace;&rbrace;
                        
                        </div><!-- /.container -->
                        <footer>
                   
                        </footer>
                </body>
        </html>
